html
    box-sizing: border-box

*, 
*::before, 
*::after
    box-sizing: inherit

body
    margin: 0
    font-family: 'FONTNAME', sans-serif
    background-color: var(--color-white)

img
    max-width: 100%
    height: auto

a
    text-decoration: none
    color: inherit

ul
    list-style: none
    padding: 0

.container
    +wrapper


